html {
	font-size: 100%;
	height: 100%;
}
body {
	padding-bottom: 178px;
	position: relative;
	min-height: 100%;
	color: #000;
}
.like-table-row {
	width: 670px;
	margin: 0 auto;
	text-align: center;
}
.like-table-row h2{
	display: inline-block;
}
.like-table-row > div {
	display: table-cell;
	vertical-align: top;
	float:none;
}
.center-block {
	margin: 0 auto;
	float: none;
	text-align: center;
}
.form-control {
	padding: 2px;
	display: block;
	border: none;
	border-bottom: solid 1px #000;
	font-family: Open Sans;
	color: #b2b4b6;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}
footer {
	background: #010101;
	padding-top: 30px;
	padding-bottom: 30px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
footer, footer a {
	font-family: Open Sans;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}
footer .container {
	padding-top: 12px;
}
footer i {
	border-radius: 50%;
	padding: 6px;
	border: 2px solid #fff;
	margin-right: 16px;
}
footer i::before {
	font-size: 20px;
}
footer a:hover i,
footer a:active i,
footer a:focus i {
	border-color: #ff4795;
}
.navbar-mega .navbar-nav > li {
	padding-left: 25px;
	padding-right: 25px;
}
.navbar-mega {
	padding-top: 42px;
	padding-bottom: 42px;
}
.navbar-mega .navbar-nav li.auth-block {
	/*padding-top: 43px;*/
	/*padding-bottom: 43px;*/
	float: right;
	padding-right: 0;
	padding-bottom: 0;
	padding-top: 0;
}
.navbar-brand {
	/*padding: 9px 5px;*/
	padding: 3px 0;
	font-size: 2.22em;
	font-weight: 600;
	letter-spacing: normal;
	margin-right: 2.5em;
}
.navbar-toggle {
	float: left;
	margin: 0;
}
.navbar-toggle .icon-bar {
	background-color: #000;
	height: 4px;
	width: 25px;
	border-radius: 2px;
}
.navbar-mega .navbar-nav a {
	font-family: Ubuntu;
	color: #000000;
	font-size: 1em;
	font-weight: 500;
	line-height: 1.5;
	text-align: left;
	text-transform: none;
	letter-spacing: normal;
}
.navbar-mega .navbar-nav > li > a {
	padding: 0;
	position: relative;
}
.navbar-mega .navbar-nav li.active > a {
	color: #000;
}
.navbar-mega .navbar-nav li > a::after {
	display: block;
	content: '';
	padding-bottom: 15px;
	position: absolute;
	width: 100%;
}
.navbar-mega .navbar-nav li.active > a::after {
	border-bottom: 5px solid #ff4795;
}
.navbar-mega .navbar-nav li > a:hover,
.navbar-mega .navbar-nav > li:hover > a,
.navbar-brand > span,
footer a:hover,
a:hover {
	color: #ff4795;
}
.add_tocartbutton{
	display: inline-block;
	color: #ff4795;
	border: 1px solid #ff4795;
	padding: 0px 22px 0px 0px;
	font-size: 1em;
	font-weight: 400;
	background: none;
	text-transform: none;
	border-radius: 2px;
}
.add_tocartbutton img{
	height: 50px;
	border: solid 5px #fff;
}
.add_tocartbutton span{
	display: inline-block;
	padding-left: 20px;
	margin-right: 10px;
	vertical-align: middle;
	position: relative;
}
.add_tocartbutton span:before{
	content: "";
	position: absolute;
	height: 198%;
	top: -12px;
	left: -4px;
	border-left: solid 1px #ff4795;
}
.add_tocartbutton:hover{
	background: #ff4795;
	color: #fff;
}
.add_tocartbutton i{
	margin-right: 5px;
}
.add_tocartbutton.alreadyin-cart{
	background: #ff4795;
	color: #fff;
}
.btn-pink, .navbar-mega .navbar-nav > li > a.btn-pink {
	color: #ff4795;
	border: 1px solid #ff4795;
	padding: 10px 37px;
	font-size: 1em;
	font-weight: 400;
	background: none;
	text-transform: none;
	border-radius: 2px;
}
.navbar-mega .navbar-nav > li > a.btn-pink {
	padding: 11px 21px;
}
.navbar-mega .navbar-collapse {
	float: right;
}
.navbar-mega .shopping-cart {
	float: right;
	position: absolute;
	right: -39px;
	padding-top: 0;
	padding-right: 10px;
}
.navbar-mega .shopping-cart a.cart {
	background: url("/img/cart.svg") no-repeat center;
	width: 39px;
	height: 39px;
	position: relative;
	display: inline-block;
}
.navbar-mega .shopping-cart a.cart span {
	position: absolute;
	right: -15px;
	top: -7px;
	color: #ffffff;
	font-size: 15px;
	font-weight: 500;
	border-radius: 50%;
	background-color: #ff4795;
	padding: 3px 6px;
	text-indent: initial;
	min-width: 29px;
}

.navbar-mega .navbar-nav li a.cart:hover,
.navbar-mega .navbar-nav li a.cart:active,
.navbar-mega .navbar-nav li a.cart:focus {
	color: #ff4795;
}
.btn-pink:hover, .navbar-mega .navbar-nav > li > a.btn-pink:hover {
	background: #ff4795;
	color: #fff;
}
.breadcrumb {
	padding: 2px 0;
	margin-bottom: 35px;
	list-style: none;
}
.breadcrumb > li {
	display: inline-block;
}
.breadcrumb > li + li::before {
	padding: 0 10px;
	color: #a1a3a0;
	content: ">";
}
.breadcrumb li a, .breadcrumb li {
	color: #a1a3a0;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
}
.breadcrumb li a:hover {
	text-decoration: underline;
}
.owl-theme .owl-nav div {
	background: url('/img/owl/arrow_l.png') no-repeat;
	color: #fff;
	display: block;
	font-size: 12px;
	height: 31px;
	margin: 0;
	padding: 0;
	position: absolute;
	text-indent: -999em;
	top: 50%;
	margin-top: -25px;
	width: 17px;
}
.owl-theme .owl-nav .owl-prev {
	left: -24px;
}
.owl-theme .owl-nav .owl-next {
	background-image: url('/img/owl/arrow_r.png');
	right: 0;
}
.main-page-slider {
	padding: 100px 0 235px;
	/*background: -webkit-radial-gradient(circle closest-side at 50%, #fbfdff 0%, #eaf8ff 98%);*/
	/*background: -moz-radial-gradient(circle closest-side at 50%, #fbfdff 0%, #eaf8ff 98%);*/
	/*background: -o-radial-gradient(circle closest-side at 50%, #fbfdff 0%, #eaf8ff 98%);*/
	/*background: -ms-radial-gradient(circle closest-side at 50%, #fbfdff 0%, #eaf8ff 98%);*/
	/*background: radial-gradient(circle closest-side at 50%, #fbfdff 0%, #eaf8ff 98%);*/
	background-color: #ebdbea;
	/*background-image: url("../img/slider_bg.png");*/
	background-repeat: no-repeat;
	background-position: 90% center;
}
.main-page-slider li:first-child {
	background-image: url("../img/slider_bg_1.png");
	background-repeat: no-repeat;
	background-position: center;
}
.main-page-slider h1 {
	background: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 58px;
	font-weight: 500;
}
.main-page-slider small {
	background: none;
	padding: 0;
	font-family: Open Sans, sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 31px;
	text-transform: none;
	margin-top: 7px;
	margin-bottom: 38px;
	letter-spacing: normal;
}
.main-page-slider .wpb_revslider_element p {
	margin-top: 25px;
}
.main-page-slider .btn-pink {
	text-transform: none;
	padding: 13px 39px;
	line-height: 19px;
}
h1, h2 {
	font-family: Ubuntu;
	color: #141514;
	font-size: 29px;
	font-weight: 500;
	line-height: 24px;
}
h1 + small, h2 + small, .desc-block {
	display: block;
	color: #000;
	font-family: Open Sans;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 0.03em;
}
h3 {
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
}
h3 + small {
	font-family: Open Sans;
	color: #000000;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}
.subscribe-block {
	margin-top: 80px;
	padding-bottom: 100px;
}
.subscribe-bx .form-control {
	width: 380px;
}
.delivery-save {
	background: #ff4795;
	background-image: url("/img/p/pb_bg.png");
	background-repeat: no-repeat;
	background-position: center 24px;
	padding-top: 80px;
	padding-bottom: 90px;
}
.delivery-save h2 {
	margin-top: 0;
	margin-bottom: 20px;
}
.delivery-save h2, .delivery-save h2 + small {
	color: #fff;
}
.delivery-variant {
	padding-top: 80px;
	padding-bottom: 140px;
}
.delivery-variant img {
	max-height: 106px;
}
.delivery-variant > .row {
	margin-top: 60px;
}
.subscribe-block > p {
	margin-top: 70px;
}
.subscribe-bx {
	background: url("/img/p/email_bg.png") no-repeat center;
	padding-bottom: 155px;
}
.subscribe-bx h2 {
	margin-top: 45px;
	margin-bottom: 10px;
}
.subscribe-bx form {
	margin-top: 100px;
}
.subscribe-bx .input-form {
	margin-right: 5px;
}
.subscribe-bx .input-form, .subscribe-bx .button-submit {
	display: inline-block;
	vertical-align: top;
}
.products-layout {
	display: flex;
	flex-wrap: wrap;
	/*flex-direction: row;*/ /*row | row-reverse | column | column-reverse;*/
	/*flex-wrap: nowrap;*/ /*nowrap | wrap | wrap-reverse;*/
	/*justify-content: space-between;*/ /*flex-start | flex-end | center | space-between | space-around;*/
	/*align-items: stretch;*/ /*flex-start | flex-end | center | baseline | stretch;*/
}
.product-wrapper {
	float: none;
	vertical-align: top;
}
.product-block .product-image  {
	height: 230px;
}
.product-grid.product-block {
	margin-bottom: 50px;
}
.product-grid .category {
	margin-top: 24px;
	margin-bottom: 10px;
}
.product-grid .category a, .product-tag {
	font-family: Open Sans;
	color: #ff4795;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.product-grid .name {
	font-family: Open Sans;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	text-transform: none;
	line-height: 23px;
}
.product-block .price {
	margin-top: 8px;
}
.price span{
	color: #000;
	font-size: 14px;
	font-weight: 300;
	display: block;
	padding-bottom: 10px;
}
.product-block .price > * span {
	font-family: Ubuntu;
	color: #141514;
	font-size: 29px;
	font-weight: 500;
}
.product-info .main-image {
	margin-bottom: 50px;
}
.product-info .images .images-list img {
	display: block;
	max-width: 80px;
	max-height: 90px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 28px;
}
.product-info .product_title {
	font-size: 29px;
	font-weight: 700;
	line-height: 37px;
	text-transform: none;
	margin-bottom: 15px;
}
.product-info .cart {
	text-align: left;
}
.product-info .price del {
	display: block;
	color: #a3a3a3;
	font-size: 20px;
	font-weight: 400;
}
.product-info .amount {
	font-size: 29px;
	color: #ff4795;
	font-weight: 500;
}
.product-info .product-list {
	margin-top: 50px;
}
.product-info .product-list .item, .product-info .product-list p {
	font-family: Open Sans, sans-serif;
	color: #000000;
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
}
.product-info .product-list .description {
	padding-top: 7px;
	/*max-width: 400px;*/
}
.cart .quantity-adder label {
	font-size: 16px;
	font-weight: 500;
	color: #000;
	text-transform: none;
	padding-left: 15px;
	padding-top: 10px;
}
.cart .quantity-adder > * {
	padding-top: 10px;
}
.product-info .cart .quantity input.qty {
	border: none;
	font-size: 20px;
	font-weight: 500;
	width: 15px;
}
.cart .quantity-adder .quantity-wrapper {
	display: inline-block;
}
.cart .quantity-adder .quantity-wrapper .add-action {
	background: none;
	color: #a1a3a0;
	font-family: Open Sans, sans-serif;
	width: 30px;
	font-size: 16px;
	height: auto;
}
.cart .quantity-adder .quantity-wrapper .add-action .fa-plus {
	margin-top: -3px;
}
.product-info .cart .quantity-adder {
	margin-bottom: 0;
}
.cart .quantity-adder .quantity-wrapper .add-action i {
	vertical-align: middle;
}
.cart .quantity-adder .quantity-number .qty {
	display: inline-block;
}
.wpo-sidebar .widget {
	background: none;
	border: none;
	padding: 0;
}
.wpo-sidebar .widget {
	margin-top: 100px;
}
.wpo-sidebar .widget:first-child {
	margin-top: 0;
}
.widget.widget_categories ul {
	margin-top: 30px;
}
.widget.widget_categories ul li {
	line-height: 34px;
	font-weight: 500;
}
.widget .product_list_widget {
	margin-top: 35px;
}
.widget .product_list_widget {
	max-width: 82%;
}
.widget .product-wrapper {
	padding: 0;
}
.widget .product-grid .name {
	font-size: 14px;
	line-height: 18px;
}
.widget .product-grid .category {
	display: none;
}
.widget .product-grid .image {
	width: auto;
	min-height: initial;
}
.widget .product-grid .product-image img {
	max-width: 120px;
}
.widget .product-block:hover .action {
	display: none;
}
.panel-group{
	max-width: 800px;
	margin: 0 auto;
}
.q-title{
	text-align: center;
	margin-bottom: 65px;
	font-weight: 800;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body{
	border-top: none;
}
.panel-body {
	padding: 0;
	margin-top: 8px;
}
.panel-body p{
	margin-bottom: 0;
}
.how-it-work header {
	padding-top: 20px;
	margin-bottom: 90px;
}
.how-it-work .row {
	margin-bottom: 70px;
}
.block-work .panel-title{
	display: block;
}
.block-work{
	background: #F4F4F4;
	padding: 12px 5% 12px;
}
.panel-heading{
	padding: 0 0 0 0;
}
.panel-group .panel.block-work{
	border-radius: 10px;
	margin-bottom: 10px;
}
.panel-default.block-work {
	border-color: transparent;
}
.plus-icon{
	color: #ff4795;
	font-size: 30px;
	float: right;
	line-height: 30px;
}
.panel-title{
	font-size: 20px;
}
.how-it-work .number {
	font-family: Open Sans, sans-serif;
	display: inline-block;
	border: 3px solid #ff4795;
	border-radius: 50%;
	padding: 8px 11px;
	margin-right: 10px;
	font-size: 29px;
	font-weight: 600;
	line-height: 24px;
	color: #000;
	margin-top: 11px;
}
.account-login {
	font-family: Open Sans, sans-serif;
}
.account-login .form-control,
.signup-modal .form-control,
.request-password-reset .form-control{
	text-align: center;
}
.account-login header {
	padding-top: 20px;
}
.account-login .form-group {
	margin-bottom: 35px;
}
.account-login button[type="submit"] {
	font-size: 16px;
	padding-left: 55px;
	padding-right: 55px;
}
.account-links a {
	font-size: 15px;
}
.account-links a:first-child {
	margin-right: 25px;
}
.eauth-service {
	margin: 1.2em 45px 0 0;
}
.eauth-service-link {
	width: 35px;
	height: 35px;
	color: #000;
}
.eauth-service-link:before {
	margin-left: 0;
}
.eauth-service-id-proberry .eauth-service-link:before {
	background: url("../img/social_proberry.svg") no-repeat right;
}
.eauth-service-id-facebook .eauth-service-link:before,
.eauth-service-id-vkontakte .eauth-service-link:before,
.eauth-service-id-odnoklassniki .eauth-service-link:before {
	background: none;
	font-family: FontAwesome;
	font-size: 20px;
	border-radius: 50%;
	padding: 5px;
	border: 2px solid #000;
	color: #000;
	text-indent: initial;
	width: 35px;
	height: 35px;
	line-height: 1em;
}
.eauth-service-id-facebook:hover .eauth-service-link:before,
.eauth-service-id-vkontakte:hover .eauth-service-link:before,
.eauth-service-id-odnoklassniki:hover .eauth-service-link:before {
	color: #fff;
	background: #000;
}
.eauth-service-id-facebook .eauth-service-link:before {
	content: '\f09a';
}
.eauth-service-id-vkontakte .eauth-service-link:before {
	content: '\f189';
}
.eauth-service-id-odnoklassniki .eauth-service-link:before {
	content: '\f263';
}
.likely {
	text-align: left;
	display: block;
}
.likely .likely__button {
	color: #4c4c4c;
}
.likely .likely__icon {
	fill: #4c4c4c;
}
.content-product-image{
	display: block;
	text-align: center;
}
.content-product-image img{
	height: 230px;
}
.pos_title{
	position: relative;
	display: block;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 40px;
}
.pos_title h2 {
	position: relative;
	display: inline-block;
	text-transform: capitalize;
	color: #323232;
	line-height: 25px;
	font-size: 32px;
	z-index: 1;
	display: inline-block;
	font-weight: 600;
	letter-spacing: .05em;
}
.product-grid .caption .price{
	display: inline-block;
}
.modal-open .modal{
	background: #82868982;
}
.modal-content {
	position: relative;
	background-color: #ffffff;
	border: 0px;
	border-radius: 0px;
	outline: 0;
	-webkit-box-shadow: 0 16px 24px rgba(43, 47, 49, 0.25);
	-moz-box-shadow: 0 16px 24px rgba(43, 47, 49, 0.25);
	box-shadow: 0 16px 24px rgba(43, 47, 49, 0.25);
}
.product-info .modal-content p{
	line-height: 1.8;
}
.modal-header h3{
	display: inline-block;
}
.modal-body {
	padding: 15px 20px;
}
.img-fluid {
	max-width: 100%;
	height: auto;
}
.modal-content h2.text-semibold{
	font-weight: 500;
	margin-top: 25px;
	font-size: 24px;
}
.product-info .modal-content .lead {
	font-size: 18px;
	font-weight: 300;
}
.wpo-pagination ul.pagination > li > a,
.wpo-pagination ul.pagination > li > span{
	border: solid 1px #ff4795;
	margin-right: 8px;
	color: #000;
}
.wpo-pagination ul.pagination > li.prev > a{
	padding-right: 0;
	padding-left: 0;
}
.wpo-pagination ul.pagination > li.prev > a,
.wpo-pagination ul.pagination > li.next > a,
.wpo-pagination ul.pagination > li:first-child > span{
	width: 39px;
}
.wpo-pagination ul.pagination > li:first-child > span{
	padding-left: 12px;
}
.wpo-pagination ul.pagination > li > a.active,
.wpo-pagination ul.pagination > li > span.active{
	background: #ff4795;
	color: #fff;
}
.wpo-pagination ul.pagination > li > a:hover,
.wpo-pagination ul.pagination > li > span:hover{
	color: #fff;
	background: #ff4795;
}
.quick-view{
	display: none;
}
/*-- modal --*/
.topline-modal__bod{
	position: relative;
	min-height: 100%;
}
.auth-form__backdrop.dn {
	display: none;
}
.auth-form__backdrop.topline-modal-hidden {
	background: transparent;
}
.auth-form__backdrop{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	left: 0;
	z-index: 4002;
	background: rgba(0,0,0,.5);
	transition: all .2s ease-in-out;
	overflow-y: auto;
}
.auth-form__sidebar-container.hidden-sidebar {
	transform: translateX(100%);
}
.auth-form__sidebar-container {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 4003;
	min-width: 420px;
	max-width: 100%;
	width: 360px;
	padding: 27px 16px;
	background: #fff;
	transform: translateX(0);
	transition: all .2s ease-in-out;
}
.topline-modal__close {
	position: absolute;
	z-index: 2;
	top: 27px;
	right: 16px;
	line-height: 1;
	cursor: pointer;
	width: 30px;
	height: 30px;
	color: #a3a3a3;
	opacity: 0.2;
	-webkit-transition: 0.1s color linear;
	-o-transition: 0.1s color linear;
	transition: 0.1s color linear;
}
.topline-modal__close i{
	font-size: 25px;
	font-weight: 300;
}
.topline-modal__close .fa {
	-webkit-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.topline-modal__close:hover{
	opacity: 1;
}
.topline-modal__close:hover .fa {
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}
.request-password-reset,
.signup-modal{
	display: none;
}
.signup-modal header,
.request-password-reset header{
	padding-top: 20px;
}
.has-error .form-control,
.has-success .form-control,
.form-control,
.has-success .form-control:focus,
.form-control:focus,
.has-success .form-control:focus,
.has-error .form-control:focus{
	border-color: #000;
	box-shadow: none;
}
/*-----------*/
.container-full{
	position: relative;
	overflow: hidden;
}
.wpb_wrapper{
	position: relative;
	width: 100%;
}
.slideshow_1{
	display: block;
	position: absolute;
	background: url(../img/tinifiede/Group_41.png) no-repeat;
	width: 177px;
	height: 150px;
	z-index: 10;
	top: 72%;
	background-size: 100%;
	left: 38%;
}
.slideshow_2{
	 display: block;
	 position: absolute;
	 background: url(../img/tinifiede/Group_21.png) no-repeat;
	 background-size: 100%;
	width: 664px;
	height: 485px;
	z-index: 100;
	right: 9%;
	top: 15%;
 }
.slideshow_3{
	display: block;
	position: absolute;
	background: url(../img/tinifiede/Group_6.png) no-repeat;
	background-size: 100%;
	width: 734px;
	height: 539px;
	z-index: 100;
	right: 8%;
	top: 0;
}
.slideshow_4{
	 display: block;
	 position: absolute;
	 background: url(../img/tinifiede/Group_421.png) no-repeat;
	 background-size: 100%;
	 width: 132px;
	 height: 150px;
	 z-index: 5;
	 right: 8%;
	 top: 53%;
 }
.slideshow_5{
	display: block;
	position: absolute;
	background: url(../img/tinifiede/Curves_11.png) no-repeat;
	background-size: 100%;
	width: 430px;
	height: 275px;
	z-index: 1;
	right: 16%;
	top: 36%;
}
.slideshow_6{
	display: block;
	position: absolute;
	background: url(../img/tinifiede/Group_11.png) no-repeat;
	background-size: 100%;
	width: 863px;
	height: 505px;
	z-index: 100;
	right: 5%;
	top: 7%;
}
.help-block{
	display: none;
}
.delivery-method-block .btn{
	border-bottom: solid 1px;
	padding: 9px 1px 9px 1px;
	min-width: 330px;
	text-align: left;
}
.delivery-method-block .btn i{
	float: right;
}
.delivery-method-block .open > .dropdown-menu{
	width: 100%;
}
.delivery-method-block .dropdown-menu ul{
	list-style: none;
	padding: 0;
}
.delivery-method-block .dropdown-menu a{
	display: block;
	padding: 5px;
}
.delivery-method-block .btn:focus, .delivery-method-block .btn:active:focus{
	outline: none;
	box-shadow: none;
}
.delivery-method-block h3{
	color: #000;
	font-size: 16px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	border-bottom: 1px solid #e5e5e5;
	padding: 15px 0 13px;
	margin: 0 0 20px;
}
.delivery-method-block h3.widget-title{
	font-size: 24px;
	line-height: 1em;
	border-bottom: 0;
}
.block_cdek, .block_express{
	display: none;
}
#map {
	width: 100%;
	height: 250px;
	margin-top: 10px;
}
.input-group p{
	font-size: 12px;
	line-height: 1.625;
	text-transform: uppercase;
	font-weight: 800;
}
.title-deliverymethod{
	font-weight: normal;
	font-size: 14px;
}
.select2-container{
	min-width: 100%;
}
.select2-container--default .select2-selection--single{
	border: none;
	border-radius: 0;
	border-bottom: solid 1px;
	padding: 9px 1px 9px 1px;
	/*min-width: 330px;*/
	text-align: left;
}
.select2-container .select2-selection--single{
	height: 43px;
	outline: none;
}
.select2-results__option[aria-selected]{
	font-size: 14px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	top: 8px;
	/*right: -23px;*/
}
.select2-container .select2-selection--single .select2-selection__rendered{
	padding-left: 0;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	outline-style: none;
	font-size: 12px;
	line-height: 1.625;
	color: #000;
	text-transform: uppercase;
}
.select2-container--open .select2-dropdown--below{
	/*min-width: 330px;*/
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}
.select2-search--dropdown{
	display: none;
}
.select2-container--default .select2-results__option[aria-selected=true] {
	background-color: #f1f1f1;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background: #ff4795;
}
/*---------------------*/
@media screen and (max-width: 1199px) {
	.navbar-brand {
		margin-right: 0.5em;
	}
	.navbar-mega .navbar-nav > li {
		padding-left: 10px;
		padding-right: 10px;
	}
	.navbar-mega .shopping-cart {
		padding-right: 0;
	}
}
@media screen and (max-width: 991px) {
	.top-header .container {
		width: 100%;
		max-width: 100%;
		margin: 0;
	}
}
@media screen and (max-width: 767px) {
	.slideshow_1{
		left: 1%;
		top: 72%;
		width: 77px;
		height: 71px;
	}
	.slideshow_2{
		width: 472px;
		height: 391px;
		right: 6%;
		top: 35%;
	}
	.slideshow_3{
		width: 356px;
		height: 274px;
		right: unset;
		top: unset;
		bottom: 0;
		left: 4%;
	}
	.slideshow_4{
		width: 77px;
		height: 68px;
		right: 8%;
		top: 42%;
	}
	.slideshow_5{
		width: 144px;
		height: 122px;
		right: 27%;
		top: unset;
		bottom: 12%;
	}
	.slideshow_6{
		width: 463px;
		height: 305px;
		right: unset;
		top: unset;
		bottom: 5%;
		left: 3%;
	}
	.like-table-row{
		width: auto;
	}
	.how-it-work .row {
		margin-bottom: 30px;
	}
	.how-it-work header{
		margin-bottom: 0;
	}
	.like-table-row h2{
		margin-top: 0;
	}
	.subscribe-bx form {
		margin-top: 60px;
	}
	.form.mc4wp-form{
		width: auto;
	}
	.subscribe-bx .form-control {
		width: 100%;
	}
	.subscribe-bx .input-form, .subscribe-bx .button-submit {
		display: block;
	}
	.panel-title,
	.plus-icon{
		font-size: 18px;
	}
	.panel-group{
		margin-bottom: 40px;
	}
	h1, h2 {
		font-size: 25px;
	}
	h1 + small, h2 + small, .desc-block {
		font-size: 16px;
	}
	.navbar-toggle {
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-mega {
		padding: 9px 0;
	}
	/*.navbar-brand, .navbar-mega .navbar-nav > li {*/
		/*padding: 9px 10px;*/
	/*}*/
	.navbar-mega .navbar-nav > li.active a::after {
		display: none;
	}
	.navbar-brand {
		margin: 0 auto;
		float: none;
		padding: 0;
		font-size: 1.8em;
	}
	.navbar-mega .navbar-nav > li.auth-block {
		float: none;
	}
	.navbar-mega .navbar-nav > li.auth-block a {
		max-width: 280px;
	}
	.navbar-mega .navbar-nav > li {
		display: block;
	}
	.navbar-mega .shopping-cart {
		position: static;
		padding-top: 10px;
	}
	.navbar-mega .shopping-cart a.cart {
		background-image: url("/img/cart_m.svg");
		width: 21px;
		height: 21px;
	}
	.navbar-mega .shopping-cart a.cart span {
		right: -10px;
		font-size: 11px;
		padding: 1px 4px;
		min-width: 20px;
	}
	.content-product {
		padding-top: 0;
	}
	.product-block .image {
		max-width: none;
		float: none;
	}
	.form-control {
		width: 100%;
		border-bottom-color: #ff4795;
	}
	.widget.widget_categories h2 {
		display: none;
	}
	.widget.widget_categories ul {
		margin-top: 0;
		text-align: center;
	}
	.widget.widget_categories ul li {
		display: inline-block;
		margin-right: 18px;
		margin-top: 3px;
	}
    header.header-title {
	    text-align: center;
    }
	.product-info,
	.product-info .cart .quantity-adder,
	.product-info .cart {
		text-align: center;
	}
    /*.btn-pink {*/
	    /*padding-right: 20px;*/
	    /*padding-left: 2px;*/
    /*}*/
	.product-info .main-image {
		margin-bottom: 0px;
	}
	.likely {
		text-align: center;
	}
	.product-info .product-list {
		margin-top: 10px;
	}
	.product-info .product-list p{
		text-align: left;
	}
	figure{
		text-align: center;
	}
	.content-product-image {
		display: inline-block;
	}
	.product-block .image-effect{
		display: block;
	}
	.product-grid.product-block {
		margin-bottom: 10px;
	}
	.product-grid .category{
		display: block;
	}
	.pos_title{
		margin-bottom: 10px;
		margin-top: 20px;
	}
	.pos_title h2{
		font-size: 17px;
	}
	.text-right {
		text-align: left;
		margin-top: 21px;
	}
	.delivery-method-block .input-group{
		display: block;
	}
	.delivery-method-block .btn{
		width: 100%;
		background: #fff;
	}
}
